@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-slate-50 text-zinc-400 font-sans antialiased transition-colors duration-300;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.animate-float {
    animation: float infinite ease-in-out;
}